#react-root
  max-width 600px
  margin auto
h1
  text-align center
li
  list-style none
ul
  padding 0
.item
  margin-top 20px
  list-style none
  .title
    margin 5px 0 0 0
  .content
    border 1px solid #BC
    margin 5px 0
    //max-width 500px
  label
    margin 5px 0 -5px 0
    display block
