#react-root
  max-width 600px
  margin auto
h1
  text-align center
li
  list-style none
ul
  padding 0 0 0 30px
.item
  margin-top 20px
  list-style none
  .title
    margin 5px 0 0 0
  .content
    margin 5px 0
    padding 3px
  .mediumEdit
    border 1px solid #BC
    display inline-block
    min-width 125px
  .medium-editor-hidden
    display none
  label
    margin 5px 0 -5px 0
    display block

//Setup login/signup on right side:
#login-buttons
  width 100%
  position relative
  .login-link-and-dropdown-list
    position absolute
    right 0
  #login-dropdown-list
    position: absolute;
    right 0
    left initial //clear the left -1px
  .login-close-text
    float right
  

